.back_southidc {
	BACKGROUND-IMAGE: url(../image/titlebg.gif); COLOR: #000000
}
.table_southidc {
	BACKGROUND-COLOR: #996633
}
.td_southidc {
	BORDER-LEFT-COLOR: #cc9900; BORDER-BOTTOM-COLOR: #cc9900; BORDER-TOP-COLOR: #cc9900; BACKGROUND-COLOR: #ffebd7; BORDER-RIGHT-COLOR: #cc9900
}
.tr_southidc {
	BACKGROUND-COLOR: #fdf1e8
}
.t1 {
	FONT: 12px 宋体; COLOR: #000000
}
.t2 {
	FONT: 12px 宋体; COLOR: #ffffff
}
.t3 {
	FONT: 12px 宋体; COLOR: #ffff00
}
.t4 {
	FONT: 12px 宋体; COLOR: #800000
}
.t5 {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: "宋体"
}
.weiqun:hover {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: underline; Font-unline: yes
}
TD {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
